@use "../../styles/colors.scss" as *;
@use "../../styles/variables.scss" as *;
@use "sass:map";
@use "sass:color";

.file-uploader {
  margin: 1rem auto;
  max-width: map.get($breakpoints, "sm");
  padding: 20px;

  .intro, p{
    text-align: center;
  }

  .function-btns {
    display: flex;
    justify-content: center;
    border: 2px solid map.get($colors, "border");
    border-radius: 10px;
    padding: 0.5rem;
    margin: 1rem 0;
  }

  .download-btns {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    gap: 0.5rem;
  }

  .function-btns,
  .download-btns {
    button {
      display: flex;
      align-items: center;
      gap: 2px;
      background-color: map.get($colors, "accent-green");
      color: #fff;
      padding: 8px 14px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: map.get($colors, "primary-dark");
      }

      &:disabled {
        background-color: map.get($colors, "accent-yellow");
        color: map.get($colors, "text-muted");
        cursor: not-allowed;
      }
    }
  }
  
  .file-input {
    display: none;
  }

  .custom-file-input-btn {
    display: inline-block;
    background-color: map.get($colors, "primary");
    color: white;
    margin-top: 1rem;
    padding: 8px 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    user-select: none;
  }

  .custom-file-input-btn:hover {
    background-color: #173ec9;
  }

  .file-list {
    margin-top: 20px;

    .files-list-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0.3rem;

      .remove-all-btn {
        font-size: 0.6rem;
        background-color: map.get($colors, "accent-red");
        color: white;
        padding: 8px 14px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: color.adjust(
            map.get($colors, "accent-red"),
            $lightness: -10%
          );
        }
      }
    }

    .file-list-items {
      display: flex;
      gap: 0.5rem;
      flex-direction: column;
      list-style: none;

      .file-list-item {
        display: flex;
        align-items: center;
        max-width: 100%;
        padding: 0.5rem 1rem;
        background-color: white;
        border: none;
        border: 2px solid map.get($colors, "border");
        border-radius: 10px;

        .file-info {
          display: flex;
          flex-direction: column;
          flex: 1;
          min-width: 0;
        }

        .file-name {
          font-weight: 500;
          color: map.get($colors, "text-primary");
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .file-size {
          font-size: 0.8rem;
          color: map.get($colors, "text-muted");
        }

        .remove-btn {
          margin-left: 1rem;
          scale: 1.2;
          color: map.get($colors, "accent-red");
          cursor: pointer;
          transition: color 0.3s ease;

          &:hover {
            color: color.adjust(
              map.get($colors, "accent-red"),
              $lightness: -10%
            );
          }
        }
      }
    }
  }
}
