@use "../../styles/colors.scss" as *;
@use "sass:color";
@use "sass:map";

.progress-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  padding: 0 0.5rem;

  .progress-bar {
    height: 12px;
    border-radius: 12px;
    background-color: map.get($colors, "primary");
    transition: width 0.3s ease-in-out;
  }

  .progress-label {
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: map.get($colors, "text-dark");
    font-size: 0.7rem;
    margin-top: 0.2rem;
  }
}
